.user-profile-container-background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      background-color: #efd1d1;
    }
    
    .profile-left-container {
      padding: 20px;
      background-color: #f0e0e0b6;
      height: 73vh;
      width: 40vh;
      margin-top: 90px;
      margin-bottom: 50px;
      margin-left: 450px;
      border-width: 2px 0 2px 2px; /* top, right, bottom, left */
      border-style: solid; /* Set the border style */
      border-color: #fbfbfb; /* Set the border color */
      border-radius: 20px 0 0 20px;
    }
    
    
    .user-profile-image {
      position: relative; /* Add this to position the upload button relative to the container */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .profile-image {
      width: 280px;
      height: 280px;
      margin-top: 50px;
      border-radius: 50%;
      border: 4px solid #ffffff; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      overflow: hidden; 
      position: relative; 
      padding: 5px;
      margin-left: 50px; 
    }
    
    
    .camera-icon {
      font-size: 24px; /* Adjust the size of the icon */
      color: white; /* Set icon color */
    }
    
    .upload-button {
      position: absolute; 
      bottom: 10px; 
      right: 70px; 
      background-color: #c98f8f; 
      padding: 10px; 
      border-radius: 50%; 
      cursor: pointer; 
    }
    
    .upload-button:hover {
        background-color: #161111;
    }
    
    
    .authentication h2{
      margin-top: 50px;
      margin-left: -80px;
      color: #603830;
      font-style: italic;
    }
    
    .right-container {
      padding: 20px;
      background-color: #f0e0e0b6;
      width: 65vh;
      height: 73vh;
      margin-top: 90px;
      margin-bottom: 50px;
      margin-right: 420px;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      border-radius: 0 20px 20px 0;
    }
    
    
    .right-container h2{
      text-align: center;
      margin-top: 20px;
      font-size: 40px;
      color: #603830;
      margin-left: 30px;
      font-style: italic;
    }
    
    .profile-details {
      color: #ffffff;
      margin-left:50px;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      
    
    }
    
    .profile-details p {
      padding: 15px 20px;
      border: 1px solid #c98f8f81;
      border-radius: 50px;
      background-color: #c98f8f81;
      margin: 10px
    }
    
    .profile-details label {
      font-weight: bold;
      font-size: 15px;
      display: block; /* Ensure the label appears on top */
      margin-bottom: 5px; /* Add some space between label and content */
      color: #603830;
  
    } 
    
    
    .file-input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
    
    
    .edit-buttons {
      float: right;  
      margin-right: 20px
      
    }
    
    .edit-btn {
      padding: 8px 20px;
      background-color: #c98f8f;
      color: #fff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      margin-right: 10px;
      margin-left: 60px;
      font-size: 18px;
      margin-top: 20px;
    }
    
    .edit-btn:hover {
      background-color: #161111;
    }
    
    .button-group {
      display: flex;
      justify-content: center; /* Center the buttons horizontally */
      margin-left: -130px;
    }
    
    .save-btn {
      padding: 8px 20px;
      background-color: #c98f8f;
      color: #fff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 18px;
      margin-top: 20px;
      margin-right: 10px; /* Add space between the buttons */
      width: 100px;
    }
    
    .save-btn:hover {
      background-color: #161111;
    }
    
    .cancel-btn {
      padding: 8px 20px;
      background-color: #c98f8f;
      color: #fff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 18px;
      margin-top: 20px;
    }
    
    
    .cancel-btn:hover {
      background-color: #161111;
    }
    
    
    .input-group {
      margin-bottom: 20px;
      margin-top: -20px;
    }
    
    .full-name-inputs {
      display: flex;
      width: 93%; 
    }
    
    .full-name-inputs input {
      width: 48%; 
      margin-right: 4%; 
    }
    
    .full-name-inputs input:last-child {
      margin-right: 0;
      margin: 10px;
    }
    
    .input-group label {
      font-size: 15px;
      margin-bottom: 10px; 
    }
    
    input[type="text1"],
    input[type="email1"],
    input[type="date"] {
      padding: 15px 15px;
      width: 400px;
      border: 1px solid #c98f8f81;
      border-radius: 50px;
      background-color: #c98f8f81;
      margin: 5px;
      margin-bottom: 10px;
      font-family:'Playfair Display', serif;;
    }